  @media screen and (max-width: 400px) {
    html, body{
      overflow-x: hidden;
    }

    #features {
      padding: 20px;
      width: 100%;
    }
    #about,
    #services,
    #testimonials,
    #team,
    #contact,
    #footer {
      width: 100%;
    }

    #portfolio {
      width: 100%;
    }
  }

@media screen and (max-width: 378px){
  html, body{
    overflow-x: hidden;
  }

  #features {
    padding: 20px;
    width: 105%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 100%;
  }
  #menu{
  width: 110%;
  }
@media screen and (max-width: 360px) {
  #portfolio {
    width: 100%;
  }
}
  #portfolio {
    width: 100%;
  }
    .whatsapp-icon {
    margin-top: 20px !important;
  }
}


#header {
  color: #1a202c; /* Tailwind: text-gray-800 */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);

}
/* @media (max-width: 385px) {
  .whatsapp-icon {
    margin-top: 20px !important;
  }
} */



























.interest-heading {
  font-size: 20px; /* or 24px */
  font-weight: 600;
  margin-bottom: 15px;
}
  /* Add left margin before the checkbox box */

  .checkbox-wrapper-37 .checkbox-svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


  .checkbox-wrapper-37 input[type="checkbox"] {
    display: none;
    margin: 0;
  }

  .checkbox-wrapper-37 .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .checkbox-wrapper-37 .terms-label .label-text {
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
  }

  .checkbox-wrapper-37 .checkbox-svg {
    width: 30px;
    height: 30px;
  }

  .checkbox-wrapper-37 .checkbox-box {
    fill: #fff;
    stroke: #ff7a00;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
  }

  .checkbox-wrapper-37 .checkbox-tick {
    stroke: #ff7a00;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }

  .checkbox-wrapper-37 input[type="checkbox"]:checked + .terms-label .checkbox-box,
  .checkbox-wrapper-37 input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
  }

