  @media screen and (max-width: 400px) {
    html, body{
      overflow-x: hidden;
    }

    #features {
      padding: 20px;
      width: 100%;
    }
    #about,
    #services,
    #testimonials,
    #team,
    #contact,
    #footer {
      width: 100%;
    }

    #portfolio {
      width: 100%;
    }
  }

@media screen and (max-width: 378px){
  html, body{
    overflow-x: hidden;
  }

  #features {
    padding: 20px;
    width: 105%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 100%;
  }
  #menu{
  width: 110%;
  }
@media screen and (max-width: 360px) {
  #portfolio {
    width: 100%;
  }
}
  #portfolio {
    width: 100%;
  }
    .whatsapp-icon {
    margin-top: 20px !important;
  }
}


#header {
  color: #1a202c; /* Tailwind: text-gray-800 */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);

}
/* @media (max-width: 385px) {
  .whatsapp-icon {
    margin-top: 20px !important;
  }
} */
